
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* put in your CSS file or <style> */
.slick-prev,
.slick-next {
  z-index: 10;       /* Make sure arrows appear on top */
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
}
.slick-prev {
  left: -1rem;       /* adjust to move outside container */
}
.slick-next {
  right: -1rem;
}

